.wrapper {
  position: relative;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 400px;
  min-height: 80%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding-top: 0px;
}

.header {
  background-image: url(images/header.png);
  background-position: center;
  height: 160px;
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  color: white;
}

/* .header-text {
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 20px;
  column-gap: 10px;
} */
.header-h1 {
  padding-top: 30px;
  padding-left: 30px;
  text-shadow: 0px 0px 10px black;
  font-family: "Smythe", cursive;
  font-size: 36px;
}
.header-h3 {
  padding-left: 30px;
  text-shadow: 0px 0px 10px black;
  font-family: "Smythe", cursive;
}
.menu {
  margin-top: 20px;
}
.item-block {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80%;
  height: 7%;
  padding: 20px;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.icons {
  width: 12%;
  margin-top: auto;
  margin-bottom: auto;
}

.additemsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-image: url(images/ellipse.png);
  background-position: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.additemsBtn:hover {
  font-size: 25px;
  cursor: cell;
}

.item-text {
  margin-right: auto;
}

.item-name {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 5px;
  font-size: 14px;
}

.item-description {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 5px;
  color: #8b8b8b;
  font-size: 12px;
}

.item-cost {
  margin-left: 20px;
  margin-top: auto;
  font-size: 12px;
}

.order-list {
  text-align: center;
  line-height: 0;
  font-size: 14px;
}

.order-name {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0 10px;
  line-height: 0px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0 10px;
  line-height: 0px;
  border-top: 1px solid rgb(193, 193, 193);
}

.card-details {
  display: none;
  position: absolute;
  top: 25%;
  left: 5%;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 50%;
  box-shadow: 0 0 10px black;
  background-color: white;
}

.order-button {
  width: 90%;
  padding: 15px 0;
  background-color: #16db99;
  border: 0;
  color: white;
  cursor: pointer;
}

.order-button:hover {
  background-color: #34dda5;
}

.header-card {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
}

.card-input {
  width: 90%;
  padding: 15px;
  margin-top: 6px;
}

.pay-button {
  margin-top: 15px;
  width: 90%;
  padding: 15px 0;
  background-color: #16db99;
  border: 0;
  color: white;
}
